@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="col-lg-12">
        <div class="row">
            @Html.ActionLink("Sync Systembolaget", "SyncSystembolaget")
        </div>

        <div class="row">
            @Html.ActionLink("Get Beers", "GetBeer")
        </div>

    </div>
</div>
